# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Envs & tools
.venv/
.env/
.gradio/
*.log

# Data & outputs
data/
archive/
runs/
checkpoints/
*.pt
*.pth
*.onnx

# Packaging
build/
dist/
*.egg-info/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/